<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Nuwe</title>
</head>
<body>
    <h1>Hello App Nuwe</h1>
    <main>
        <section>
            <ul>
                <li>You can use "/api/users"</li>
                <p>To receive all users in the database.</p>
                <li>You can use "/api/repos"</li>
                <p>To receive all repositories in the database.</p>
            </ul>
        </section>
    </main>
</body>
</html>